#gif-view {
  /* background-color: pink; */
  border: solid 2px;
  border-color: navy;
  margin-top: 12px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}

.main {
  background-image: url("../images/smiling-feet.png");
  background-position: top center;
  margin: 0 auto;
  background-repeat: repeat;
  top: 0;
  width: 100% cover contain;
  background-size: 2500px;
  /* border-bottom: 100px solid black; */
  padding-bottom: 50px;
}

img {
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 25px;
  max-width: 400px;
  max-height: 220px;
  position: relative;
  display: inline-table;
}

#title {
  font-weight: bolder;
  padding-top: 10px;
  text-align: center;
  color: navy; 
  font-weight: bolder;
  font-size: 49px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gif-div {
  float: left;
  max-width: 75px;
  max-height: 75px;
  overflow: visible;
  margin: 10px 150px 150px 0px;
  padding: 20px 200px 150px 50px;
}

#gif-button {
    align-content: left;
    text-align: left;
}

.gif-button {
  padding: 5px 5px 5px 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 13px;
  background-color: #777;
  color: white;
  border-radius: 10px;
  /* border: solid 2px pink; */
  align-content: center;
  text-align: center; 
}

h5 {
  margin-left: 10px;
  overflow: visible;
  position: relative;
  display: block;
}

#add-gif {
  /* background-color: pink;  */
  color: navy;
  font-size: 17px;
  border-radius: 10px;
  font-weight: bolder;
  margin-bottom: 25px;
}