#gif-view {
    padding: 10px 10px;
    background-color: pink;
    border: solid 2px;
    border-color: navy;
    /* position: relative; */
    /* display: inline-table; */
    margin-top: 12px;
    overflow: hidden;
    clear: both; 
}

img {
    max-width: 200px;
    max-height: 200px;
    position: relative;
    display: inline-table;
}

.gif-div {
    font-size: 24px;
    float: left;
    clear: both; 
}

gifImage {
    
    font-size: 24px;
    float: left;
    clear: both; 
    margin-left: 12px;
}

.gifMove {
    font-size: 24px;
}

.gif-button {
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    background-color: navy;
    color: white;
    border-radius: 10px;
    border: solid 2px pink;
}